{% extends "world/base.html" %}
{% block content %}
<style>
#myDIV {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
}
</style>
    {% for country in countries %}
      <div class="container">
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ country.iso3 }}</a>
            </div>
              <h2><a class="article-title" href="#">{{ country.name }}</a></h2>
              <p>Area : {{ country.area }}</p>
              <p>Longitude : {{ country.lon }} ;  Latitude : {{ country.lat }}</p>
          </div>

        </article>


      </div>
    {% endfor %}
{% endblock content %}