{% extends "world/base.html" %}
{% block content %}
    {% load leaflet_tags %}
    {% load static %}
    {% load i18n %}
    {% load crispy_forms_tags %}
    {% load crispy_forms_filters %}
    <head>
        {% leaflet_js %}
        {% leaflet_css %}
        {% block head_title %}{% trans "Map Page" %}{% endblock %}
        {% block extra_header %}
            <style>
                #map {width: 70vw;height: 80vh;}
            </style>
        {% endblock %}
    </head>
    <body>
    <div>
        {% block body_content %}
            {% leaflet_map "map" callback="window.map_init_basic" %}
        {% endblock %}
    </div>
    </body>
    {% block extra_footer %}
    <script>
        let HOST = location.protocol + "//" + location.host;
        let locationMarker;
        let circle;
        console.log("before first $ sign.");
        $("#map").css({
            "width": "100%",
            "height": $(document).height() - ($("#header").height() + $("#footer").height() + 45)});
        function map_init_basic(map, options) {
            let pos;
            map.setView([53.5, -8.5], 11);
            updateLocation(map);
            map.on('touchstart click dblclick ', function () {
                updateLocation(map);
            });
        }
        function updateLocation(map) {
            navigator.geolocation.getCurrentPosition(function (pos) {
                setMapToCurrentLocation(map, pos);
                update_db(pos);
                },
                function (err) {
                },
                {
                    enableHighAccuracy: true,
                    timeout: 30000
                }
            );
        }
        function setMapToCurrentLocation(map, pos) {
            console.log("In setMapToCurrentLocation.");
            let myLatLon = L.latLng(pos.coords.latitude, pos.coords.longitude);
            map.flyTo(myLatLon, 16);
            if (locationMarker) {
                map.removeLayer(locationMarker);
            }
            locationMarker = new L.Marker(myLatLon).addTo(map);
            if (circle) {
                map.removeLayer(circle);
            }
            circle = L.circle(myLatLon, {color: 'blue',fillColor: 'blue',fillOpacity: 0.3,radius: pos.coords.accuracy}).addTo(map);
            $(".toast-body").html("Found location<br>Lat: " + myLatLon.lat + " Lon: " + myLatLon.lng);
            $(".toast").toast('show');
        }

    </script>
{% endblock %}
{% endblock content %}


