{% extends "world/base.html" %}
{% block content %}{% load leaflet_tags %}{% load static %}{% load i18n %}{% load crispy_forms_tags %}{% load crispy_forms_filters %}
<head>
    {% leaflet_js %}
    {% leaflet_css %}
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
</head>
<body>
    <script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>
    <div>
        <div>
            {% leaflet_map "maphome" callback="window.map_init_basic" %}
        </div>
        <div class="main-carousel">
            {% for post in posts %}
                <div class="cell">
                    <article class="media content-section">
                        <div class="media-body">
                            <div class="article-metadata">
                                <a class="mr-2" href="#">{{ post.author }}</a>
                                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                            </div>
                            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                            <p class="article-content">{{ post.dream_holiday.name }}</p>
                            <p id="hol-reason" class="article-content">{{ post.reason }}</p>
                            <button class="btn btn-outline-info" onclick="updateLatLon('{{ post.dream_holiday.lat }}', '{{ post.dream_holiday.lon }}')">View On Map</button>
                        </div>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
<script>
    $(".main-carousel").flickity({
        cellAlign: 'left',
        wrapAround: true,
        freeScroll: true
    })
    function map_init_basic (map, options) {
        marker = L.marker([53.5, -8.5], 5).addTo(map);
        globMap = map;
    }
    function updateLatLon(latitude,longitude) {
        var lat = latitude;
        var lng = longitude;
        var newLatLng = new L.latLng(lat, lng);
        marker.setLatLng(newLatLng);
        globMap.flyTo(newLatLng, 5)
    }
</script>
{% endblock content %}


