body {
  background: #fafafa;
  color: #333333;
  margin-top: 6rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #020202e0;
}

.site-header .navbar-nav .nav-link {
  color: #ece8e8e8;
  font-size: large;
  font-family: monaco, sans-serif
}

.site-header .navbar-nav .nav-link:hover {
  color: #609ab6;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

#maphome {
  width: 100%;
  height: 52vh;
  margin-top: -1rem;
}

#mapflight {
  width: 97%;
  margin-top: -1rem;
  height: 52vh;
  margin-left: 15px;
}



.site-footer .footer-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #020202e0;
  font-size: medium;
  font-family: monaco, sans-serif;
  color: #ece8e8e8;
  text-align: center;
  height: 4.5%;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}


.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
  /*-webkit-transition: -webkit-transform .8s ease-in-out;*/
  /*        transition:         transform .8s ease-in-out;*/
}

/*.article-img:hover {*/
/*  -webkit-transform: rotate(270deg);*/
/*          transform: rotate(270deg);*/
/*}*/

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.leaflet-container {
  width:  1200px;
  height: 600px;
}

#specialbigmap {
  height: 800px;
}

.django-leaflet-raw-textarea {
  width: 100%;
}

.cell {
  width:33%;
  height:30vh;
  display:inline-block;
  margin:0 15px;
  border: 3px solid #FFFFFF;
  border-radius:8px;
  overflow:hidden;
  text-align:center;"
}

.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: #333;
}
.flickity-prev-next-button:hover {
  background: #F90;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* position outside */
.flickity-prev-next-button.previous {
  left: -40px;
}
.flickity-prev-next-button.next {
  right: -40px;
  float: right;
}

.form-group {
  margin-left: 5px;
}

.form-group #flight-title{
  display: flex;
  margin-left: 10px;
}

.form-group #check-flights{
  margin-left: 10px;
}

.form-group .sky-logo {
  height: 20px;
  margin-top: 15px;
  margin-left: 35%;
}


#flight-criteria {
  display: inline-flex;
}


#datePicker {
  line-height: inherit;
  color: #495057;
  border-color: lightgrey;
  padding: 5px 5px 5px 35px;
  border-radius: 13px;
  margin-left: 15px;
  margin-right: 15px;
}

.form-control-flight-form {
  margin-left: 10px;
  max-width: 30%;
  display: block;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.media-body.flights {
  display: flex;


}

#flight-quotes {
  margin-top: 0px;
  margin-bottom: 2px;
  margin-left: 10px;
  font-size: 24px;

}
#plane-icon {
  height: 40px;
}


@media only screen and (max-width: 480px) {
  .cell {
    width:100%
  }

  #mapflight {
    width: 100%;
    margin-top: -1rem;
    height: 52vh;
    margin-left: 0px;
  }

  #hol-reason {
    display: none;
  }
  .form-group {
    margin-left: 5px;
  }

  .form-group #flight-title{
    display: inline-block;
  }

  .form-group #check-flights{
  }

  .form-group .sky-logo {
    height: 20px;
    margin-top: 2px;
    margin-left: 0%;
  }

  #flight-criteria {
    display: inline-block;
  }
  .form-control-flight-form{
    max-width: 100%;
    margin-left: 0px;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 4px;
  }

  #datePicker {
    margin-top: 6px;
    margin-left: 0px;
    margin-bottom: 6px;
  }



}

@media only screen and (max-width: 1024px) {
  .cell {
    width:100%
  }

  #map {
    width: 100%;
    height: 47vh;
  }

  #hol-reason {
    display: none;
  }
  .form-group {
    margin-left: 5px;
  }

  .form-group #flight-title{
    display: inline-block;
    margin-left: 10px;
  }

  .form-group #check-flights{
    margin-left: 10px;
    margin-top: 10px;
  }

  .form-group .sky-logo {
    height: 20px;
    margin-top: 15px;
    margin-left: 0%;
  }

  #flight-criteria {
    display: inline-block;
  }
  .form-control-flight-form{
    max-width: 100%;
    margin-left: 0px;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 4px;
  }

  #datePicker {
    margin-top: 6px;
    margin-left: 0px;
    margin-bottom: 6px;
  }

}
